<div data-role="view" id="homepage" data-title="Riding App" >
     <div data-role="content" id="mainContent">
         <div class="midDiv">
             <div class="contentDv">
                 <p>
                     Start saving on your travel!
                 </p>
                 <p>
                     Use the buttons below to find or offer a ride.
                 </p>
             </div>
         </div>
         <div class="footer">
            <div class="btnDv">
                <a data-role="button" data-click="app.home.viewModel.findRide">Find a ride</a>
                <a data-role="button" data-click="app.home.viewModel.offerRide">Offer a ride</a>
            </div>
         </div>
     </div>
    
</div>