<div data-role="view" id="homeView" data-title="Riding" data-model="app.home.viewModel" data-show="app.home.viewModel.show">
    <div data-role="content" id="mainContent">
        <div class="midDiv">
            <div class="contentDv">
                <p>
                    Start saving on your travel!
                </p>
                <p>
                    Use the buttons below to find or offer a ride.
                </p>
            </div>
        </div>
    </div>
    <div data-role="footer">
        <div class="btnDv">
            <a data-role="button" data-click="app.home.viewModel.findRide">Find a ride</a>
            <a data-role="button" data-click="app.home.viewModel.offerRide">Offer a ride</a>
        </div>
    </div>
</div>