#homeView .km-content {background:url(./images/bkgroad.jpg) no-repeat;background-size:100% 100%}
#rideOfferView .km-content,#rideOfferView2 .km-content,#rideOfferView3 .km-content {background:#FFF;}
#rideOfferView2 .km-content {background:#FFF;}
/*#offerRideView .km-content {background-color:#FFF}*/

.img p{  margin-top: 0px;}

.carPassenger {display:none}
.bikePassenger {display:none}
.roundTrip .km-switch {float:right}
.returnDiv {display:none}
.carPassenger .gender {display:none}
select {background:#FFF}
#deleteStop {display:none}

.removeDV1,.removeDV2,.removeDV3,.removeDV4,.removeDV5 {display:none}

.errorDv {width:100%;height:auto;background:#7BCEED;display:none}
.errorDv p {margin: 0px;text-align: center;font-size: 15px;color: #FFF;font-weight: bold;font-family: times;padding: 8px;}
.addcarDv,.addbikeDv,.addbusDv {display:none}
/*.km-switch-background {color:#00B6FF !important}
.km-switch-handle {color:#00B6FF !important}
*/
