@media (min-width:0px) and (max-width:1280px) {
}

@media (min-width:0px) and (max-width:1024px) {
}

@media screen and (max-width: 960px){
}

@media (min-width:0px) and (max-width:800px) {
}

@media (min-width:0px) and (max-width:768px) {
}

@media (min-width:0px) and (max-width:640px) {
}

@media (min-width:0px) and (max-width:630px) {
}

@media (min-width:0px) and (max-width:600px) {
}

@media (min-width:0px) and (max-width:599px) {
}

@media (min-width:0px) and (max-width:580px) {
}

@media (min-width:0px) and (max-width:533px) {
}

@media (min-width:0px) and (max-width:440px) {
}

@media (min-width:0px) and (max-width:410px) {
}

@media (min-width:0px) and (max-width:390px) {
    
    
    .photo1 {background: url("./images/onboarding_in_1.jpg") no-repeat;}
    .photo2 {background: url("./images/onboarding_in_2.jpg") no-repeat;}
    .photo4 {background: url("./images/onboarding_in_4.jpg") no-repeat;}
    
    /*11-8-2015*/
    
    .btnDv {width:100%;margin:0px auto;height:50px;background-color: #fff;}
    .btnDv a {width:48%;height:45px;line-height: 29px;}
    .btnDv a {border:none !important;background:none !important;color:#1C9CC2 !important;font-size: 17px;}
    .btnDv a:active {border:none !important;background:none !important;color:#1C9CC2 !important;font-size: 17px;}
    .btnDv a:nth-child(1) {  background: url(./images/search.png) no-repeat !important; background-size: 15%!important;background-position: 18px 12px !important;}
    .btnDv a:nth-child(2) {text-align: right;background: url(./images/offer.png) no-repeat !important;background-size: 15%!important;background-position: 45px 12px !important;}
    .contentDv p:nth-child(1){width: 55%;font-size: 25px;color: #fff;text-align: center;position: absolute;top: 0px;left: 20%;}
    .contentDv p:nth-child(2){width: 80%;font-size: 18px;font-weight: 400;color: #000;text-align: center;position: absolute;top: 120px;left: 8%;}
    #maindrawer ul li{height: 48px;}
    #maindrawer ul li:first-child{text-align: center;font-size: 18px;background-color: #ccc;color: #458CB2;}
    #maindrawer .blank {height: 10px;background-color: #ccc;}
    #maindrawer .drwerfindRide{background: url(./images/drawer_find.png) no-repeat;background-position: 18px 12px;background-size: 22px;text-align: center;}
    #maindrawer .drwerfindRide span{margin-left: -34px;font-size: 17px;line-height: 27px;}
    #maindrawer .drwerrides{background: url(./images/drawer_yourrides.png) no-repeat;background-position: 18px 12px;background-size: 22px;text-align: center;}
    #maindrawer .drwerrides span{margin-left: -34px;font-size: 17px;line-height: 27px;}
    #maindrawer .drwerofferride{background: url(./images/drawer_offer.png) no-repeat;background-position: 18px 12px;background-size: 22px;text-align: center;}
    #maindrawer .drwerofferride span{margin-left: -34px;font-size: 17px;line-height: 27px;}
    #maindrawer .drwerlogin{background: url(./images/drawer_login.png) no-repeat;background-position: 18px 12px;background-size: 22px;text-align: center;}
    #maindrawer .drwerlogin span{margin-left: -34px;font-size: 17px;line-height: 27px;}
    #maindrawer .drwersignup{background: url(./images/drawer_signup.png) no-repeat;background-position: 18px 12px;background-size: 22px;text-align: center;}
    #maindrawer .drwersignup span{margin-left: -34px;font-size: 17px;line-height: 27px;}
    #maindrawer .drwerhelp{background: url(./images/drawer_help.png) no-repeat;background-position: 18px 12px;background-size: 22px;text-align: center;}
    #maindrawer .drwerhelp span{margin-left: -34px;font-size: 17px;line-height: 27px;}
    
    /****offer a ride****/
    
    
    .departureimgDv {width: 12%;float: left;height: 100px;}
    .departureimgDv p:nth-child(1) {position: absolute;top: -10px;left: 0px;}
    .departureimgDv p:nth-child(2) {position: absolute;top: 40px;left: 0px;}
    
    /*.departureDv .addStopage a {width: 30px;height: 30px;background: url(./images/ic_plus_active.png) no-repeat;background-size: 100% 100%;position: absolute;right: 14px;top: 129px;border: none;}*/
    
    .titleDv {width:100%;height:40px;background-color:#00B6FF;margin-top:-20px}
    .titleDv p {line-height: 36px;color:#fff}
    .removestop {width: 30px;height: 30px;background: url(./images/ic_plus_active.png) no-repeat;background-size: 100% 100%;border: none;}
    /*.stopoverDv .txtfld {width: 85%;height: 35px;border: 1px solid #ccc;border-radius: 5px;}*/
    
    
    .imgwithStopDv {display:inline-block;width:100%;margin-top:-22px}
    .imgwithStopDv .imgDV p {margin-top:0px}
    
    
    
    .imgwithStopDv .txtDv .stoptxtfld {width:96%;height:35px;border:1px solid #ccc;border-radius:5px;padding-left:9px;}
    .imgwithStopDv .txtDv {width:80%;float:left}
    .imgwithStopDv .cancelBtn {width: 5%;float: left;margin-top: 20px;margin-left: -19px;}
    
    /**/
    .titleDiv {width:100%;height:48px;background-color:#00B6FF}
    .titleDiv p {margin-top: 0px;line-height: 43px;color: #fff;font-size: 19px;font-family: times;font-weight: 300;}
    .txtflddiv {width:100%;height:auto}
    .txtflddiv p {text-align:center}
    /*.txtflddiv p .selectBx {width:80%;height:35px;}*/
    .mainContent .biketxtFlddiv {display:none;width:100%;margin:0px auto;height:auto}
    .biketxtFlddiv .titleDiv {background-color:#ccc;height:40px;}
    .biketxtFlddiv .titleDiv p {margin-top: 0px;line-height: 42px;color: #000;font-size: 16px;font-family: times;font-weight: 300;}
    .mainContent .bustxtflddiv {display:none}
    .mainContent .cartxtflddiv {display:none}
    .txtflddiv .textfeld {width: 80%;height: 35px;border: 1px solid #ccc;border-radius: 5px;padding-left:8px}
    .browseImgDiv {width: 29%;margin: 0px auto;border: 1px solid #ccc;height: 100px;border-radius: 50%;margin-top: 18px;background:url(./images/profile.png) no-repeat;background-size:100%;background-position:0px 0px}
    .busdetailsubmitDv,.cardetailsubmitDv {width: 100%;}
    .busdetailsubmitDv p,.cardetailsubmitDv p {text-align:center}
    .busdetailsubmitDv p a,.cardetailsubmitDv p a {width: 80%;height: 40px;font-size: 20px;line-height: 18px;font-weight: 500;font-family: times;}
    .bustxtflddiv .titleDiv {background-color:#ccc;height:40px;}
    .bustxtflddiv .titleDiv p {margin-top: 0px;line-height: 42px;color: #000;font-size: 16px;font-family: times;font-weight: 300;}
    .cartxtflddiv .titleDiv {background-color:#ccc;height:40px;}
    .cartxtflddiv .titleDiv p {margin-top: 0px;line-height: 42px;color: #000;font-size: 16px;font-family: times;font-weight: 300;}
    
    /*Main Css Use*/
    
    .nvbar {background:#fff !important;border-bottom: 2px solid #00B6FF !important;}
    .nvbar .km-button {background:none}
    .nvbar a{background-image:url(./images/ic_drawer.png) !important;width: 24px;height: 25px;border:none !important}
    .textTtle {font-size: 20px;font-weight: 500;color: #00B6FF;font-family: times;}
    .textTtle1 {font-size: 20px;font-weight: 500;color: #fff;font-family: times;}
    .step1Div {width:90%;height:auto;margin:0px auto;margin-top:25%}
    .step1Div .selectbx,.carPassenger .selectbx {width:100%;height:40px;border: 1px solid #ccc;}
    .stepFstsubmitDiv {width:90%;margin:0px auto}
    .stepFstsubmitDiv p {margin-top:30px;text-align:center}
    .stepFstsubmitDiv a {width: 60%;height: 40px;font-size: 20px;line-height: 18px;font-weight: 500;font-family: times;background-color:#00B6FF !important;color:#fff !important}
    .stepFstsubmitDiv a:active {background-color:#00B6FF !important;color:#fff !important}
    .stepScondsubmitDiv {width:90%;margin:0px auto}
    .stepScondsubmitDiv p {margin-top:30px}
    .stepScondsubmitDiv a {width: 48%;height: 40px;font-size: 20px;line-height: 18px;font-weight: 500;font-family: times;background-color:#00B6FF !important;color:#fff !important}
    .stepScondsubmitDiv a:active {background-color:#00B6FF !important;color:#fff !important}
    
    /*Step 2*/
    .departuremainDv {width:100%;height:auto;display: inline-block;}
    .imgwithDv {width:100%;display:inline-block}
    .imgwithDv .imgDV p {margin-top:10px}
    .imgDV {width:15%;float:left}
    .txtDv {width:85%;float:left}
    .txtDv p .txtfld {width:100%;height:35px;border:1px solid #ccc;border-radius:5px;padding-left:9px;}
    .imgwithDestDv {display:inline-block;width:100%;margin-top: -22px;}
    .imgwithDestDv .imgDV p {margin-top:0px}
    .departureDv{width: 100%;float: left;display: inline-block;margin-top: -20px;}
    .departureDv .txtfld{width: 100%;height: 35px;border: 1px solid #ccc;border-radius: 5px;}
    .departureDv .addStopage {float: right;padding: 0;margin: 19px;width:40%;display: inline-block;}
    .addStopage label{float: left;margin-right: 15px;}
    .addStopage {margin-top: 0px;}
    .departureDv .addStopage a {width: 150px;height: 40px;color:#000;background: url(./images/ic_plus_active.png) no-repeat;background-size: 17% 55%;background-position: 116px 7px;text-align: left;border: none;}
    .departureDv .addStopage a:active {color:#000}
    .disabledCls {display:none}
    .tripDesp {width:100%;height:150px}
    .headerTitleDv {width: 100%;height: 35px;background-color: #00B6FF;}
    .headerTitleDv p {margin: 0px;margin-left: 20px;line-height: 32px;}
    .stepFstsubmitDiv {}
    
    /*Date and time picker css*/
    .departureDiv .k-datepicker{width: 100% !important;background: none !important;}
    .departureDiv .k-datepicker .k-select {height: auto !important;padding-left: 100% !important;}
    #departdatepicker{width: 100%;height: 25px;line-height:0px}
    .departureDiv .k-timepicker{width: 100% !important;background: none !important;}
    .departureDiv .k-timepicker .k-select {height: auto !important;padding-left: 100% !important;}
    #departtimepicker{width: 100%;height: 23px;line-height:0px}

    .returnDiv .k-datepicker{width: 100% !important;background: none !important;}
    .returnDiv .k-datepicker .k-select {height: auto !important;padding-left: 100% !important;}
    #returndatepicker{width: 100%;height: 25px !important;line-height:0px}
    .returnDiv .k-timepicker{width: 100% !important;background: none !important;}
    .returnDiv .k-timepicker .k-select {height: auto !important;padding-left: 100% !important;}
    #returntimepicker{width: 100%;height: 25px;line-height:0px}
    
    .k-calendar-container {width:323px}
    .k-calendar {width: 323px;}
    .k-calendar .k-content, .k-calendar .k-content th {
          text-align: center !important;
    }
    
    /*08-09-2015*/
    .pricetodestDv{width: 100%;height: auto;display: inline-block;}
    .contenttitleDv {width: 100%;height: 45px;background-color: #D8D6D6;}
    .contenttitleDv p {margin: 0px;margin-left: 10px;line-height: 42px;}
    .contenttitleDv p .txttitle {font-size: 20px;font-weight: 500;color: #00B6FF;font-family: times;}
    .vehiclelistDv{width: 100%;height: auto;display: inline-block;}
    .mainContentDv {width:100%;height:auto;}
   /* .mainContentDv .stopagepriceDv {width:100%;height:auto;display:inline-block}
    .mainContentDv .stopagepriceDv .dvLeft {width:60%;float:left;margin-top: 6px;}
    .mainContentDv .stopagepriceDv .dvLeft .innerRight1,.mainContentDv .stopagepriceDv .dvLeft .innerRight3 {width:40%;float:left}
    .mainContentDv .stopagepriceDv .dvLeft .innerRight2 {width:16%;float:left}
    .mainContentDv .stopagepriceDv .dvLeft .innerRight2 p {margin: 10px 0 0 -2px;}
    
    .mainContentDv .stopagepriceDv .dvRight {width:30%;float:left;margin: 5px 0px 0px -6px;}
    .mainContentDv .stopagepriceDv .dvRight .innerRight1,.mainContentDv .stopagepriceDv .dvRight .innerRight3 {width:20%;float:left}
    .mainContentDv .stopagepriceDv .dvRight .innerRight2 {width:55%;float:left}
    .mainContentDv .stopagepriceDv .dvRight .innerRight2 p {width:100%}
    .mainContentDv .stopagepriceDv .dvRight .innerRight2 p .priceBox{width: 100%;height: 30px;text-align: center;background:url(./images/indian-rupee.png) no-repeat;background-size:13px;background-position: 8px 9px;font-size: 16px;padding: 1px 0px 2px 14px;color: #4CAF50;font-weight: bold;border:none}
    .mainContentDv .stopagepriceDv .dvRight .innerRight1 p,.mainContentDv .stopagepriceDv .dvRight .innerRight3 p{margin-top: 17px;}*/
    
    .mainContentDv .stopagepriceDv {width:100%;height:auto;display:inline-block}
    .mainContentDv .stopagepriceDv .dvLeft {width:50%;float:left;display:inline-block;margin-top: 2px;}
    .mainContentDv .stopagepriceDv .dvLeft .innerRight1,.mainContentDv .stopagepriceDv .dvLeft .innerRight3 {width:40%;float:left}
    .mainContentDv .stopagepriceDv .dvLeft .innerRight2 {width:20%;float:left}
    .mainContentDv .stopagepriceDv .dvLeft .innerRight2 p {margin: 9px 0 0 0px;}
    .mainContentDv .stopagepriceDv .dvLeft .innerRight1 p,.mainContentDv .stopagepriceDv .dvLeft .innerRight3 p {font-size:15px;}
    
    .mainContentDv .stopagepriceDv .dvRight {width:30%;float:left;display:inline-block;margin-top: -3px;}
    .mainContentDv .stopagepriceDv .dvRight .innerRight1,.mainContentDv .stopagepriceDv .dvRight .innerRight3 {width:15%;float:left}
    .mainContentDv .stopagepriceDv .dvRight .innerRight2 {width:70%;float:left}
    .mainContentDv .stopagepriceDv .dvRight .innerRight2 p {width:100%}
    .mainContentDv .stopagepriceDv .dvRight .innerRight2 p .priceBox{width: 100%;height: 30px;text-align: center;background:url(./images/indian-rupee.png) no-repeat;background-size:15px;background-position: 15px 7px;font-size: 20px;padding: 0px 0px 1px 25px;color: #4CAF50;font-weight: bold;border:none}
    .mainContentDv .stopagepriceDv .dvRight .innerRight1 p,.mainContentDv .stopagepriceDv .dvRight .innerRight3 p{margin-top:18px}
    
    .vehicleDv {width:100%;height:auto}
    .vehicleDv .dropdownbox{width:100%;height:36px;}
    .contentBox {width:100%;height:auto}
    .contentBox .dropdownbox {width:100%;height:36px;}
    .contentBox .textbox{width: 100%;height: 35px;border: 1px solid #ccc;padding-left: 7px;border-radius: 5px;}
    .contentBox .photoBtn {background-color: #4CAF50 !important;color: #fff !important;}
    .contentBox .photoBtn:active {background-color: #4CAF50 !important;color: #fff !important;}
    .vehicleDv P:last-child {text-align:center}
    .addmoreBtn{width: 50%;background-color: #4CAF50 !important;color: #fff !important;font-size: 17px;font-weight: bold;padding: 8px 0px 8px 0px;}
    .addmoreBtn:active {background-color: #4CAF50 !important;color: #fff !important;}
    .addcarDv .contentBox {width:100%;height:auto;}
    .addcarDv,.addbikeDv,.addbusDv {width:100%;height:auto}
    
    .stepfinalsubmitDiv {width:90%;margin:0px auto}
    .stepfinalsubmitDiv p {margin-top:30px}
    .stepfinalsubmitDiv a {width: 48%;height: 40px;font-size: 20px;line-height: 18px;font-weight: 500;font-family: times;background-color:#00B6FF !important;color:#fff !important}
    .stepfinalsubmitDiv a:active {background-color:#00B6FF !important;color:#fff !important}
    
    /*09-09-2015*/
    .returnDiv p {margin: 0;padding: 4px 12px 12px 17px;}
    label.error {font-size:12px;color:#00B6FF;}
    
    
    
}

@media (min-width:0px) and (max-width:370px) {
}

@media (min-width:0px) and (max-width:320px) {
}